*{
	margin: 0;
	padding: 0;
}


 ul{
 	list-style-type: none;
 }

body{
	background-color: #f5fcff;
}

.clear{
	clear: both;
}

.header{
	position: relative;
	background-image: url(../img/bg-header.png);
	width: 100%;
	height: 220px;
	z-index: -5;
}

.header__profile{
	height: 100%;
}

.container{
	width: 1200px;
	margin: auto;
}

.header__profile-avatar{
	position: relative;
	display: inline-block;
	padding: 0px;
	float: left;
	z-index: -3;

}

.header__profile-menu{
	position: relative;
	left: -95px;
	top: 42px;
	display: inline-block;
	height: 97px;
	width: 710px;
	background: #fff;
	border-radius: 0px 49px 49px 0px;
	padding: 15px 0px 0px 135px;
	font-family: 'Raleway';
	font-size: 16px;
    z-index: -4;
}

.header__profile-menu h1{
	font-family: 'Raleway Bold';
	font-size: 36px;
}

.header__profile-menu li{
	display: inline-block;
	padding: 0px 25px 15px 0px;
	color: #969696;
}

.header__profile-menu li img{
	background-color: #ffffff;
	padding: 15px 15px 0px 0px;
	vertical-align: bottom;
}


.header__menu-item{
	display: inline-block;
	width: 240px;
	height: 100px;
	font-family: 'Bebas Neue Regular';
	font-size: 36px;
}

.header__menu-item--active{
	width: 230px;
	height: 98px;
	background-color: #f1f1f3;
	font-family: 'Bebas Neue Regular';
	font-size: 36px;
}

.header__menu-item--active-wrapper{
	display: inline-block;
	width: 230px;
	height: 100px;
	background-color: #5fc0e7;
}

.header__menu a{
   color: #000;
}

.header__menu-item p{
	display: inline-block;
	padding: 41px 81px 32px 81px;
}

.header__menu-item--active p{
	display: inline-block;
	padding: 41px 81px 32px 81px;
}

.column{
	width: 600px;
	float: left;
}

.content{
	margin: 50px 0;
}

.people:before{
    margin: -30px -25px;
	content: '';
	display: block;
	background-color: #5fc0e7;
	border-radius: 15px 15px 0 0;
	height: 6px;
}

.content__card{
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 15px 15px;
	padding: 30px 0 30px 20px;
	overflow: hidden;
}

.right{
	margin: 0 0 30px 10px;
}

.left{
	margin: 0 10px 30px 0px;
}

.content__card-title{
	margin: 66px 0 4px 0;
	font-family: 'Bebas Neue Regular';
	font-size: 30px;
	clear: both;
}

.content__card-paragraph{
	display: inline-block;
	margin: 32px 0 7px;
	font-family: 'Raleway Bold';
	font-size: 18px;
}

.content__card p{
	display: block;
	font-family: 'Raleway';
	font-size: 18px;
}

.wrapper{
	height: auto;
	width: 100%;
}

.content__card img{
	display: inline-block;
	padding: 9px 15px 0 0;
}

.content__card img.pencil{
	width: 14px;
	height: 14px;
	padding: 0 5px 0 0;
}

.content__card a.view{
	display: inline-block;
	color: #5FC0E7;
	font-family: 'Raleway';
	font-size: 14px;
	text-align: right;
	float: right;
	margin: 32px 30px 7px;
}

.content__card a {
	font-size: 14px;
	font-family: 'Raleway';
	color: #5fc0e7;
	display: inline-block;
    margin-top: 30px;
}

.work:before{
	margin: -30px -25px;
	content: '';
	display: block;
	background-color: #7c4098;
	border-radius: 15px 15px 0 0;
	height: 6px;
}

.story:before{
	margin: -30px -25px;
	content: '';
	display: block;
	background-color: #fa5770;
	border-radius: 15px 15px 0 0;
	height: 6px;
}

.edocation:before{
	margin: -30px -25px;
	content: '';
	display: block;
	background-color: #f26632;
	border-radius: 15px 15 px 0 0;
	-webkit-border-radius: 15px 15 px 0 0;
	-moz-border-radius: 15px 15 px 0 0;
	height: 6px;
}

/* PHOTOS */

.gallery-nav {
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1200px;
	height: 60px;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	background-color: #ffffff;
	margin: 25px 0 25px 0;
}

.gallery-nav__caption{
	font-family: 'Raleway Bold';
	font-size: 18px;
}

.gallery-nav__item{
	display: inline-block;
	font-family: 'Raleway';
	font-size: 16px;
	text-align: center;
}

.gallery-nav__item-active{
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #5fc0e7;
	color: #ffffff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.gallery__content{
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	background-color: #ffffff;
	padding: 25px 25px 5px 25px;
	margin-bottom: 50px;
}

.gallery__content-img{
	cursor: pointer;
	width: 273px;
	height: 170px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 20px;
}

.gallery__content-img:hover .gallery__content-img--overlay{
	opacity: 1;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.gallery__content-img--overlay{
	content: '';
	position: relative;
	left: 0;
	top: -174px;
	width: 273px;
	height: 170px;
	display: block;
	background-color: rgba(0, 43, 65, 0.8);
	opacity: 0;
	transition: all 0.4s;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.gallery__content-img--overlay:after{
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	background: url(../img/icons/loupe.png) no-repeat center center;
}

/* Pop-up */

#popup{
	visibility: hidden;
}

.popup, .popup__overlay{
	display:block;
	width:100%;
	height:100%
}

.popup{
	top: 0;
	left: 0;
	position: fixed;
}

.popup__overlay{
	position: absolute;
	background-color: #add8e6;
	z-index: 9999;
	background-color: rgba(0,43,65,.8)
}

.popup__img-wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 9999;
	padding: 0;
}

.popup__close{
	cursor: pointer;
	position: absolute;
	right: -27px;
	top: -27px;
	width: 54px;
	height: 54px;
	background-color: #5fc0e7;
	border-radius: 50%;
	border: 0;
}

.popup__img{
	max-width: 500px;
	max-height: calc(100vh - 100px);
	width: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
